name: CI

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]
  workflow_dispatch: ~

jobs:
  test:
    strategy:
      matrix:
        os: [ubuntu-latest]
        ruby-version: ['3.2', '3.3', '3.4']

    runs-on: ${{ matrix.os }}
    timeout-minutes: 45

    steps:
    - uses: actions/checkout@v4

    - uses: ruby/setup-ruby@v1
      with:
        ruby-version: ${{ matrix.ruby-version }}
        bundler-cache: true

    - uses: actions/setup-node@v4

    - uses: browser-actions/setup-chrome@latest
    - uses: nanasess/setup-chromedriver@master

    - name: Run tests
      run: bundle exec rake test
      timeout-minutes: 40
      env:
        CI: true
